streamlit
langchain
db-sqlite3
pysqlite3
pydantic
langchain-core
langchain-openai
langchain-community
python-dotenv
chromaDB
docx2txt
# genai
# google-ai-generativelanguage
# google-api-core
# google-api-python-client
# google-auth
# google-auth-httplib2
# google-generativeai
# googleapis-common-protos
# toml
# langchain-google-genai 
